body {
  background-color: rgb(8, 11, 45);
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgb(207, 184, 54);
}

header {
  background-color: black;
  color: rgb(207, 184, 54);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header img {
  height: 150px;
  border: solid rgb(207, 184, 54);
}

header h1 {
  margin: 0;
}

header p {
  margin: 0;
}

.LandingPage {
  padding: 20px;
  text-align: center;
}

.LandingPage h2 {
  margin-bottom: 20px;
}

.Product {
  display: inline-block;
  width: 300px;
  text-align: center;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.Product img {
  height: 200px;
  width: 100%;
}

.Product h3 {
  margin: 10px 0;
}
